* {-webkit-font-smoothing: antialiased;}

ul.menubar{
	list-style-type: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border-bottom-right-radius: 10px; 
    border-bottom-left-radius: 10px;
    width: 1150px
}


li.menubar {
    float: left;
}

li.menubar a.menubar {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.menubar a.menubar:hover:not(.active) {
    background-color: #111;
}