<td>
<p>
<h3>Z. Berkay Celik</h3>
336 Westgate Building <br/>
University Park, PA 16802, USA<br/>
<a href="mailto: zbc102@cse.psu.edu">zbc102@cse.psu.edu</a>
<br/>
<br/>
<a href="/personal/files/Berkay-Celik-Resume.pdf">Curriculum Vitae</a><br/>
<a href="https://scholar.google.com/citations?user=g1I269gAAAAJ&hl=en">Google Scholar</a><br/>
<a href="https://github.com/Beerkay">Github</a></br>
<a href="https://twitter.com/ZBerkayCelik">Twitter</a></br>
<a href="https://www.linkedin.com/in/berkaycelik">Linkedin</a></br>
</p>
</p>
</td>
<td>
<img align="right" src="{{ site.base }}/img/BerkayAtPurduCs.png" title="At Purdue CS (phote by Emily Kinsell)" style="border-radius: 15px; box-shadow: 5px 8px 10px #e0e0e0; width: 16em" >
<br/>
</td>
<ul class="menubar">
  <li class="menubar"><a class="menubar" style="font-weight: normal;" href="/index">Home</a></li>
  <li class="menubar"><a class="menubar" style="font-weight: normal;" href="/pages/research">Research</a></li>
  <li class="menubar"><a class="menubar" style="font-weight: normal;" href="/pages/publications">Publications</a></li>
  <li class="menubar"><a class="menubar" style="font-weight: normal;" href="/pages/professional">Activities</a></li>
  <li class="menubar"><a class="menubar" style="font-weight: normal;" href="/pages/writing">Writing</a></li>
  <li class="menubar"><a class="menubar" style="font-weight: normal;" href="/personal/berkayPersonal">Personal</a></li>
</ul>



